<p>inside bi</p>
<% new_or_existing = booking_item.new_record? ? 'new' : 'existing' %>
<% prefix = "booking[#{new_or_existing}_booking_item_attributes][]" %>

<% fields_for prefix, booking_item do |bi_form| %>

  <p>
    <%= bi_form.select(:quantity,(0..priced_item.item_type.total)) %> x <%=h priced_item.name %>
  </p>

<!--// FIXME: must be a neater way to do this! inserting directly into bi_form instead of rendering to browser? !-->
<%= bi_form.hidden_field :priced_item_id, :value => priced_item.id %>

<% end %>
